extends baseEmail

block content
   table(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%' border='0' cellpadding='0' cellspacing='0')
      tbody
         tr
            td(style='padding: 0; vertical-align: top;' align='center' valign='top')
               table.pc-container(align='center' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; Margin: 0 auto; max-width: 620px;' width='100%' border='0' cellpadding='0' cellspacing='0')
                  tbody
                     tr
                        td(align='left' style='vertical-align: top; padding: 0 10px;' valign='top')
                           span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;')
                              | Template
                              | created by Designmodo.com
                           table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                              tbody
                                 tr
                                    td(style='vertical-align: top; padding: 0; height: 20px; font-size: 20px; line-height: 20px;' valign='top') &nbsp;
                           // START MODULE: Menu 4
                           table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                              tbody
                                 tr
                                    td(style='vertical-align: top; background-color: #1B1B1B; border-radius: 8px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)' valign='top' bgcolor='#1B1B1B')
                                       table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                          tbody
                                             tr
                                                td.pc-menu-logo-s2(align='center' style='vertical-align: top; padding: 30px 40px 31px;' valign='top')
                                                   table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 130px;' width='130')
                                                      tbody
                                                         tr
                                                            td(style='vertical-align: top;' valign='top')
                                                               a(href='https://codersleague.herokuapp.com/' style='text-decoration: none;')
                                                                  img(src='https://res.cloudinary.com/dryiuvv1l/image/upload/v1612945358/logoCL2-removebg-preview_geihgg.png' width='330' height='60' alt='' style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; display: block; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 500; color: #ffffff;")
                                             tr
                                                td(style='vertical-align: top; height: 1px; font-size: 1px; line-height: 1px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;' valign='top' bgcolor='#4B4B4B') &nbsp;
                                             tr
                                                td.pc-menu-nav-s1.pc-fb-font(style="vertical-align: top; padding: 18px 40px; text-align: center; line-height: 1.4; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 500;" valign='top' align='center')
                                                   a(href='https://codersleague.herokuapp.com/' style='text-decoration: none; color: #ffffff;') Home
                                                   span.pc-menu-nav-divider(style='padding: 0 23px;') &nbsp;&nbsp;
                                                   a(href='https://codersleague.herokuapp.com/signup' style='text-decoration: none; color: #ffffff;') Sign up
                                                   span.pc-menu-nav-divider(style='padding: 0 23px;') &nbsp;&nbsp;
                                                   a(href='https://codersleague.herokuapp.com/login' style='text-decoration: none; color: #ffffff;') Log in
                           // END MODULE: Menu 4
                           // START MODULE: Call to action 5

                           table(border='0' cellspacing='0' cellpadding='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                              tbody
                              tr
                                 td(style='vertical-align: top; padding: 0; height: 8px; -webkit-text-size-adjust: 100%; font-size: 8px; line-height: 8px;' valign='top') &nbsp;
                           table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                              tbody
                                 tr
                                    td.pc-cta-box-s4(style='vertical-align: top; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)' valign='top' bgcolor='#ffffff')
                                       table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                          tbody
                                             tr
                                                td.pc-cta-box-in(style='vertical-align: top; padding: 42px 40px 35px;' valign='top')
                                                   table.pc-cta-s1(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                                      tbody
                                                         tr
                                                            td.pc-fb-font(style="vertical-align: top; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 500; line-height: 1.43; color: #324977; text-align: center;" valign='top' align='center') Hi #{firstName}.
                                                         tr
                                                            td(style='vertical-align: top; height: 12px; font-size: 12px; line-height: 12px;' valign='top') &nbsp;
                                                         tr
                                                            td.pc-cta-title.pc-fb-font(style="vertical-align: top; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 30px; font-weight: 900; line-height: 1.28; letter-spacing: -0.6px; color: #151515; text-align: center;" valign='top' align='center')
                                                               | Here are Top 5 Articles
                                                               br
                                                               | &nbsp;curated for you.
                                                         tr
                                                            td(style='vertical-align: top; height: 70px; line-height: 70px; font-size: 70px;' valign='top') &nbsp;
                                                         tr
                                                            td(style='vertical-align: top; text-align: center;' valign='top' align='center')
                                                
                                                               a(href=`https://codersleague.herokuapp.com/` style='text-decoration: none;')
                                                                  img(src='https://res.cloudinary.com/dryiuvv1l/image/upload/v1612947448/illlustrationcl-removebg-preview_atgnyj.png' width='341' height='157' alt='' style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; display: block; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 14px; color: #151515; max-width: 100%; height: auto; Margin: 0 auto;")
                                                         tr
                                                            td(style='vertical-align: top; height: 63px; line-height: 63px; font-size: 63px;' valign='top') &nbsp;
                                                   
                                                                              
                           // END MODULE: Call to action 5// RUN LOOP
                           // START MODULE: E-Commerce 3
                           each article in topArticles
                              table(border='0' cellspacing='0' cellpadding='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                 tbody
                                    tr
                                       td(style='vertical-align: top; padding: 0; height: 8px; -webkit-text-size-adjust: 100%; font-size: 8px; line-height: 8px;' valign='top') &nbsp;
                              table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                 tbody
                                    tr
                                       td.pc-products-box-s3(style='vertical-align: top; padding: 30px 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)' valign='top' bgcolor='#ffffff')
                                          table.pc-product-s3(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; font-size: 0;' width='100%')
                                             tbody
                                                tr
                                                   td(style='vertical-align: top;' valign='top')
                                 
                                                      .pc-product-col(style='display: inline-block; width: 100%; max-width: 280px; vertical-align: top;')
                                                         table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                                            tbody
                                                               tr
                                                                  td(style='vertical-align: top; padding: 10px 20px;' valign='top')
                                                                     img(src=`${article.image}` width='230' height='240' alt=`${article.image}` style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; color: #151515; max-width: 100%; height: auto; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 14px; display: block;")
                                 
                                                      .pc-product-col(style='display: inline-block; width: 100%; max-width: 280px; vertical-align: top;')
                                                         table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                                            tbody
                                                               tr
                                                                  td(style='vertical-align: top; padding: 10px 20px 0;' valign='top')
                                                                     table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                                                        tbody
                                                                           tr
                                                                              td.pc-fb-font(style="vertical-align: top; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 1em; font-weight: 500; color: #324977; display:inline-flex" valign='top') 
                                                                                 img.user-img(src=`${article.user[0].photo}` alt=`Photo of ${article.user[0].fullname}`) 
                                                                                 span(style="margin:auto")   #{article.user[0].fullname}
                                                                                 
                                                                           tr
                                                                              td.pc-fb-font(style="vertical-align: top; padding: 9px 0 0 0; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 700; line-height: 1.42; letter-spacing: -0.4px; color: #151515;" valign='top')
                                                                                 a(href=`https://codersleague.herokuapp.com/u/${article.user[0].username}/a/${article.slug}` style='text-decoration: none;') #{article.title}
                                                                                 
                                                                           tr
                                                                              td.pc-fb-font(style="vertical-align: top; padding: 7px 0 0 0; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.5; color: #9B9B9B;" valign='top')
                                                                              #{article.shortDescription}
                                                                           tr
                                                                              td(style='vertical-align: top; padding: 11px 0 0 0; font-size: 0;' valign='top')
                                                   
                                                                                 div(style='display: inline-block; vertical-align: middle;')
                                                                                    table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                                                                       tbody
                                                                                          tr
                                                                                             td(style='vertical-align: top; padding: 10px 20px 10px 0;' valign='top')
                                                                                                table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                                                                                   tbody
                                                                                                      tr
                                                                                                         td(align='left' style='vertical-align: top;' valign='top')
                                                                                                            table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                                                                               tbody
                                                                                                                  tr
                                                                                                                     td(style='vertical-align: top; border-radius: 8px; text-align: center; background-color: #1595E7;' valign='top' bgcolor='#1595E7' align='center')
                                                                                                                        a.pc-fb-font(href=`https://codersleague.herokuapp.com/u/${article.user[0].username}/a/${article.slug}` style="line-height: 1.5; text-decoration: none; margin: 0; padding: 8px 17px; white-space: nowrap; border-radius: 8px; font-weight: 500; display: inline-block; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 16px; cursor: pointer; background-color: #dcbc44; color: #ffffff;")
                                                                                                                           | Read
                                                                                                                           | now
                                                                                 div(style='display: inline-block; vertical-align: middle;')
                                                                                    table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
                                                                                       tbody
                                                                                          tr
                                                                                             td.pc-fb-font(style="vertical-align: top; padding: 10px 0; font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 15px; font-weight: 500; line-height: 1.17; color: #9B9B9B;" valign='top') #{article.readingTime.text}
   table(border='0' cellspacing='0' cellpadding='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
      tbody
         tr
            td(style='vertical-align: top; padding: 0; height: 8px; -webkit-text-size-adjust: 100%; font-size: 8px; line-height: 8px;' valign='top') &nbsp;
                // END MODULE: E-Commerce 4
                // START MODULE: Call to action 2
   table(border='0' cellspacing='0' cellpadding='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
      tbody
         tr
            td(style='vertical-align: top; padding: 0; height: 8px; -webkit-text-size-adjust: 100%; font-size: 8px; line-height: 8px;' valign='top') &nbsp;
                // END MODULE: Call to action 2
                // START MODULE: Footer 1
   table(border='0' cellspacing='0' cellpadding='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
      tbody
         tr
            td(style='vertical-align: top; padding: 0; height: 8px; -webkit-text-size-adjust: 100%; font-size: 8px; line-height: 8px;' valign='top') &nbsp;
                // END MODULE: Footer 1
   table(border='0' cellpadding='0' cellspacing='0' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;' width='100%')
      tbody
         tr
            td(style='vertical-align: top; padding: 0; height: 20px; font-size: 20px; line-height: 20px;' valign='top') &nbsp;


